<div id="datingListUser" class="table-responsive">Liste de rencontre personnel
    <table class="table table-dark align-middle">
        <thead>
        <table>
            <tr>
                <th class="mr-3 i" scope="col">Nom:</th>
                <th class="mr-3 i" scope="col">Prenom:</th>
                <th class="mr-3 i" scope="col">Sexe:</th>
                <th class="mr-3 iDate" scope="col">Date de rencontre</th>
                <th class="mr-3 i" scope="col">Note:</th>
                <th class="mr-3 i" scope="col">Commentaire:</th>
            </tr>
        </table>
        </thead>
        <tbody id="bodyListDate">
        <table id="ListDateTable">

        </table>
            <ul class="list-group" id="listDate"></ul>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary" onclick="navigate('accueil')">Retour</button>
</div>

