<div class="row">
    <div class="col-8">
        <h1>Speed Dating Industries</h1>
    </div>
    <div id="datingListUser" class="table-responsive">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h2>Liste de rencontre general</h2>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-secondary pt-3" onclick="navigate('accueil')">Retour</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p>
                    Bienvenue sur la liste de rencontre general. Ici vous pouvez voir toutes les personnes rencontrée et
                    ajouter par les utilisateurs.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-dark align-middle">
                    <thead>
                    <table>
                        <tr>
                            <th class="mr-3 i" scope="col">Nom:</th>
                            <th class="mr-3 i" scope="col">Prenom:</th>
                            <th class="mr-3 i" scope="col">Sexe:</th>
                            <th class="mr-3 " scope="col">Date de rencontre</th>
                            <th class="mr-3 i" scope="col">Note:</th>
                            <th class="mr-3 i" scope="col">Commentaire:</th>
                        </tr>
                    </table>
                    </thead>
                    <tbody id="bodyListDateGeneral">
                    <table id="ListDateTableGeneral">

                    </table>
                    <ul class="list-group" id="listDateGeneral"></ul>
                    </tbody>
                </table>
            </div>
        </div>
       </div>
</div>
