<div id="datingListUser" class="table-responsive">Liste de rencontre personnel
    <table class="table table-dark align-middle">
        <thead>
        <table>
            <tr>
                <th class="mr-3 i" scope="col">Nom:</th>
                <th class="mr-3 i" scope="col">Prenom:</th>
                <th class="mr-3 i" scope="col">Sexe:</th>
                <th class="mr-3 iDate" scope="col">Date de rencontre</th>
                <th class="mr-3 i" scope="col">Note:</th>
                <th class="mr-3 i" scope="col">Commentaire:</th>
            </tr>
        </table>
        </thead>
        <tbody id="bodyListDate">
        <table id="ListDateTable">

        </table>
            <ul class="list-group" id="listDate"></ul>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary pt-3" onclick="navigate('accueil')">Retour</button>
</div>

<div id="addUpdateDateModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Mettre a jour la list</h1>
            </div>
            <div class="modal-body">
                <input id="firstNameUpdateDateModalList" type="text" placeholder="Nom">
                <input id="lastNameUpdateDateModalList" type="text" placeholder="Prenom">
                <input id="sexeUpdateDateModalList" type="text" placeholder="Sexe">
                <label>Date de rencontre</label>
                <input id="birthdateUpdateDateRencontre" type="date">
            </div>
            <div class="modal-footer">
                <button id="UpdateDateModalBtnClose" type="button" class="btn btn-secondary" data-dismiss="modal"
                        >Mettre a jour
                </button>
                <button id="UpdateDateCancel" type="button" class="btn btn-secondary" data-dismiss="modal">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>

