<div class="row col-sm-1 col-md-1">
    <div class="col-8">
        <h1>Speed Dating Industries</h1>
    </div>
    <div class="col-4">
        <div id="buttonGroupLogger"  class="btn-group" role="group" aria-label="Basic example">
            <div id="buttonLogger" class="buttonLog" >
                <button id="buttonMainLogin" type="button" class="btn btn-secondary" onclick="navigate('login')">Connexion</button>
                <button id="buttonMainRegister" type="button" class="btn btn-secondary" onclick="navigate('register')">Inscription</button>
                <button id="buttonAbout" type="button" class="btn btn-secondary">A propos</button>
            </div>
        </div>
    </div>
</div>



