<div class="container">
    <div class="form-container log-in-container">
        <div class="formConnected" >
            <h1>Inscription</h1>
            <input id="registerfirstName" type="text" placeholder="Nom" required >
            <input id="registerlastName" type="text" placeholder="Prenom" required>
            <input id="registerPseudo" type="text" placeholder="Pseudo" required>
            <input id="registerEmail" type="email" placeholder="Email" required/>
            <input id="registerPassword" type="password" placeholder="Mot de passe" required/>
            <label>Mot de passe : minimum 5 caractère : 1 caractère special, 1 majuscule, 1 minuscule, 1 chiffre</label>
            <span id="msg"></span>
            <input id="registerSexe" type="text" placeholder="Sexe" required>
            <input id="registerDate" type="date" required>
            <a href="#" onclick="navigate('login')" >Vous avez deja un compte valide ?</a>
            <button class="btn btn-secondary" onclick="registerController.createUsers()" >Creer un compte</button>
        </div>
    </div>
</div>

<div id="registerModalConfirm" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Utilisateur créer avec succé.</p>
            </div>
            <div class="modal-footer">
                <button id="registerModalBtnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


