.btn-group{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 134px;
}

input{
    margin-top: 15px;
}

a{
    margin-top: 10px;
    margin-bottom: 10px;
}
#btnLogin{
    margin-top: 20px;
}
.btn-secondary{
    background-color: purple;
}

h1{
    color: red;
}
table, th, td {
    padding-right: 30px;

}


